{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "tailwindFunctions": ["tv", "twMerge", "composeTailwindRenderProps"],
  "customFunctions": ["tv", "twMerge", "composeTailwindRenderProps"],
  "tailwindConfig": "./tailwind.config.ts"
}
