

:root {
  --background: 0deg, 0%, 100%;
  --gray-100: 0deg, 0%, 100%;
  --gray-200: 0deg, 0%, 91%;
  --gray-300: 0deg, 1%, 77%;
  --gray-400: 0deg, 0%, 65%;
  --gray-500: 0deg, 0%, 54%;
  --gray-600: 0deg, 0%, 45%;
  --gray-700: 0deg, 1%, 37%;
  --gray-800: 0deg, 1%, 29%;
  --gray-900: 0deg, 1%, 26%;
  --teal-100: 180deg, 100%, 98%;
  --teal-200: 199deg, 100%, 90%;
  --teal-300: 205deg, 46%, 77%;
  --teal-400: 205deg, 26%, 65%;
  --teal-500: 205deg, 15%, 54%;
  --teal-600: 204deg, 12%, 45%;
  --teal-700: 205deg, 12%, 37%;
  --teal-800: 208deg, 10%, 29%;
  --teal-900: 208deg, 10%, 26%;
  --blue-100: 0deg, 0%, 100%;
  --blue-200: 220deg, 29%, 92%;
  --blue-300: 219deg, 43%, 79%;
  --blue-400: 219deg, 53%, 70%;
  --blue-500: 220deg, 66%, 62%;
  --blue-600: 221deg, 79%, 55%;
  --blue-700: 223deg, 100%, 48%;
  --blue-800: 242deg, 100%, 49%;
  --blue-900: 244deg, 100%, 44%;
  --red-100: 0deg, 0%, 100%;
  --red-200: 10deg, 100%, 93%;
  --red-300: 12deg, 100%, 81%;
  --red-400: 11deg, 100%, 69%;
  --red-500: 7deg, 100%, 58%;
  --red-600: 0deg, 100%, 45%;
  --red-700: 2deg, 97%, 38%;
  --red-800: 6deg, 85%, 31%;
  --red-900: 7deg, 79%, 28%;
  --background: var(--gray-100);
  --foreground: var(--gray-900);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: 0deg, 0%, 0%;
  --gray-100: 0deg, 1%, 19%;
  --gray-200: 0deg, 0%, 25%;
  --gray-300: 0deg, 1%, 34%;
  --gray-400: 0deg, 0%, 42%;
  --gray-500: 0deg, 0%, 52%;
  --gray-600: 0deg, 0%, 61%;
  --gray-700: 0deg, 1%, 72%;
  --gray-800: 0deg, 0%, 84%;
  --gray-900: 0deg, 2%, 89%;
  --teal-100: 207deg, 9%, 19%;
  --teal-200: 208deg, 10%, 25%;
  --teal-300: 207deg, 10%, 34%;
  --teal-400: 204deg, 12%, 42%;
  --teal-500: 205deg, 14%, 51%;
  --teal-600: 205deg, 22%, 61%;
  --teal-700: 205deg, 35%, 72%;
  --teal-800: 204deg, 69%, 83%;
  --teal-900: 203deg, 100%, 88%;
  --blue-100: 241deg, 100%, 34%;
  --blue-200: 243deg, 100%, 42%;
  --blue-300: 229deg, 100%, 50%;
  --blue-400: 221deg, 84%, 53%;
  --blue-500: 220deg, 70%, 60%;
  --blue-600: 219deg, 57%, 67%;
  --blue-700: 219deg, 47%, 76%;
  --blue-800: 219deg, 37%, 85%;
  --blue-900: 219deg, 33%, 90%;
  --red-100: 9deg, 70%, 21%;
  --red-200: 7deg, 78%, 27%;
  --red-300: 4deg, 92%, 35%;
  --red-400: 0deg, 100%, 43%;
  --red-500: 5deg, 100%, 54%;
  --red-600: 10deg, 100%, 66%;
  --red-700: 12deg, 100%, 76%;
  --red-800: 12deg, 100%, 87%;
  --red-900: 11deg, 100%, 91%;
  --background: var(--gray-100);
  --foreground: var(--gray-900);
  }
}
