

:root {
  --background: 0deg, 0%, 100%;
  --gray-100: 0deg, 0%, 100%;
  --gray-200: 0deg, 0%, 91%;
  --gray-300: 0deg, 1%, 77%;
  --gray-400: 0deg, 0%, 65%;
  --gray-500: 0deg, 0%, 54%;
  --gray-600: 0deg, 0%, 45%;
  --gray-700: 0deg, 1%, 37%;
  --gray-800: 0deg, 1%, 29%;
  --gray-900: 0deg, 1%, 26%;
  --teal-100: 180deg, 100%, 98%;
  --teal-200: 199deg, 100%, 90%;
  --teal-300: 205deg, 46%, 77%;
  --teal-400: 205deg, 26%, 65%;
  --teal-500: 205deg, 15%, 54%;
  --teal-600: 204deg, 12%, 45%;
  --teal-700: 205deg, 12%, 37%;
  --teal-800: 208deg, 10%, 29%;
  --teal-900: 208deg, 10%, 26%;
  --blue-100: 0deg, 0%, 100%;
  --blue-200: 225deg, 42%, 93%;
  --blue-300: 227deg, 64%, 83%;
  --blue-400: 228deg, 84%, 76%;
  --blue-500: 232deg, 100%, 71%;
  --blue-600: 236deg, 100%, 66%;
  --blue-700: 238deg, 72%, 57%;
  --blue-800: 237deg, 53%, 44%;
  --blue-900: 236deg, 52%, 38%;
  --red-100: 0deg, 0%, 100%;
  --red-200: 2deg, 100%, 94%;
  --red-300: 2deg, 100%, 84%;
  --red-400: 0deg, 100%, 75%;
  --red-500: 357deg, 93%, 63%;
  --red-600: 357deg, 61%, 53%;
  --red-700: 358deg, 50%, 44%;
  --red-800: 359deg, 45%, 35%;
  --red-900: 0deg, 43%, 30%;
  --orange-100: 0deg, 0%, 100%;
  --orange-200: 33deg, 100%, 88%;
  --orange-300: 30deg, 100%, 70%;
  --orange-400: 27deg, 79%, 59%;
  --orange-500: 27deg, 54%, 50%;
  --orange-600: 27deg, 50%, 42%;
  --orange-700: 27deg, 47%, 35%;
  --orange-800: 26deg, 42%, 28%;
  --orange-900: 28deg, 40%, 24%;
  --green-100: 120deg, 100%, 99%;
  --green-200: 112deg, 100%, 78%;
  --green-300: 117deg, 72%, 57%;
  --green-400: 115deg, 51%, 49%;
  --green-500: 114deg, 45%, 42%;
  --green-600: 113deg, 40%, 36%;
  --green-700: 111deg, 35%, 30%;
  --green-800: 111deg, 31%, 25%;
  --green-900: 111deg, 29%, 22%;
  --background: var(--gray-100);
  --foreground: var(--gray-900);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: 0deg, 0%, 0%;
  --gray-100: 0deg, 1%, 19%;
  --gray-200: 0deg, 0%, 25%;
  --gray-300: 0deg, 1%, 34%;
  --gray-400: 0deg, 0%, 42%;
  --gray-500: 0deg, 0%, 52%;
  --gray-600: 0deg, 0%, 61%;
  --gray-700: 0deg, 1%, 72%;
  --gray-800: 0deg, 0%, 84%;
  --gray-900: 0deg, 2%, 89%;
  --teal-100: 207deg, 9%, 19%;
  --teal-200: 208deg, 10%, 25%;
  --teal-300: 207deg, 10%, 34%;
  --teal-400: 204deg, 12%, 42%;
  --teal-500: 205deg, 14%, 51%;
  --teal-600: 205deg, 22%, 61%;
  --teal-700: 205deg, 35%, 72%;
  --teal-800: 204deg, 69%, 83%;
  --teal-900: 203deg, 100%, 88%;
  --blue-100: 233deg, 47%, 27%;
  --blue-200: 235deg, 51%, 36%;
  --blue-300: 238deg, 58%, 52%;
  --blue-400: 238deg, 96%, 65%;
  --blue-500: 233deg, 100%, 69%;
  --blue-600: 229deg, 91%, 74%;
  --blue-700: 228deg, 71%, 80%;
  --blue-800: 225deg, 52%, 87%;
  --blue-900: 227deg, 42%, 91%;
  --red-100: 0deg, 39%, 23%;
  --red-200: 0deg, 42%, 29%;
  --red-300: 359deg, 49%, 40%;
  --red-400: 357deg, 53%, 49%;
  --red-500: 357deg, 81%, 60%;
  --red-600: 359deg, 100%, 71%;
  --red-700: 1deg, 100%, 80%;
  --red-800: 2deg, 100%, 89%;
  --red-900: 2deg, 100%, 93%;
  --orange-100: 26deg, 37%, 19%;
  --orange-200: 26deg, 40%, 24%;
  --orange-300: 27deg, 45%, 32%;
  --orange-400: 27deg, 49%, 39%;
  --orange-500: 27deg, 53%, 47%;
  --orange-600: 27deg, 69%, 56%;
  --orange-700: 28deg, 100%, 66%;
  --orange-800: 32deg, 100%, 78%;
  --orange-900: 33deg, 100%, 85%;
  --green-100: 109deg, 26%, 17%;
  --green-200: 108deg, 29%, 21%;
  --green-300: 111deg, 34%, 28%;
  --green-400: 112deg, 39%, 34%;
  --green-500: 114deg, 44%, 40%;
  --green-600: 115deg, 49%, 46%;
  --green-700: 117deg, 61%, 54%;
  --green-800: 117deg, 88%, 62%;
  --green-900: 115deg, 100%, 72%;
  --background: var(--gray-100);
  --foreground: var(--gray-900);
  }
}
