

:root {
  --background: #ffffff;
  --gray-100: #f0e6d0;
  --gray-200: #ddcfb3;
  --gray-300: #b9af97;
  --gray-400: #999382;
  --gray-500: #7c7a70;
  --gray-600: #64645f;
  --gray-700: #4e504f;
  --gray-800: #393c3d;
  --gray-900: #2f3435;
  --teal-100: #c7ecff;
  --teal-200: #b2d5ed;
  --teal-300: #96b3c7;
  --teal-400: #7f96a6;
  --teal-500: #6b7d89;
  --teal-600: #596670;
  --teal-700: #485159;
  --teal-800: #363d42;
  --teal-900: #2e3437;
  --background: var(--gray-100);
  --foreground: var(--gray-900);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
  --gray-100: #2e3234;
  --gray-200: #3c4040;
  --gray-300: #545654;
  --gray-400: #6c6c65;
  --gray-500: #878376;
  --gray-600: #a39b88;
  --gray-700: #c2b69d;
  --gray-800: #e1d4b9;
  --gray-900: #ede2cb;
  --teal-100: #2d3236;
  --teal-200: #394046;
  --teal-300: #4d575f;
  --teal-400: #5f6e78;
  --teal-500: #728694;
  --teal-600: #869fb1;
  --teal-700: #9dbbd0;
  --teal-800: #b7daf2;
  --teal-900: #c4e8ff;
  --background: var(--gray-100);
  --foreground: var(--gray-900);
  }
}
